{%extends 'template.html.twig' %}
{% block body %}
    <h1>Bonjour {{ name|upper ~ " "~firstName}} </h1>
    <h2>La méthod utilisé est {{ method }}</h2>
    <h2>La langue du page est {{ language|capitalize }}</h2>
    <h2>La date d'aujourd'hui est : {{ "now"|date('d/m/y') }}</h2>
{% endblock %}

{% block PageTitle %}
    Accueil
{% endblock %}
{% block title %}
    Accueil
{% endblock %}