{% extends "template.html.twig" %}

{% block body %}


{% block PageTitle %}
    Liste des todos
{% endblock %}
<ol class="list-group">
    {% for nom,contenu in app.session.get('todos') %}
        <li class="list-group-item">
            {{ nom }} : {{ contenu }}
        </li>
    {% endfor %}
</ol>
{% endblock %}

{% block title %}
    Todo
{% endblock %}